body {
  background-image: url(https://images.unsplash.com/photo-1615237002240-8bfecfbfd7fc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80);
  background-color: blanchedalmond;
  text-align: center;
}

.hide {
  display: none;
}
