* {
  font-family: "Spinnaker", sans-serif;
  box-sizing: border-box;
}

:root {
  --DarkBlue: #152a38;
  --Blue: #29435c;
  --Green: #556e53;
  --Steel: #d1d4c9;
}

header {
  background-color: var(--Green);
  color: var(--Steel);
}

body {
  background-image: url(https://images.unsplash.com/photo-1615237002240-8bfecfbfd7fc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80);
  background-color: blanchedalmond;
  text-align: center;
}

h1 {
  padding: 30px;
}

.btn {
    background-color: var(--DarkBlue);
    border: var(--DarkBlue);
}

.btn:hover {
    background-color: var(--Blue);
    border: var(--Blue);
}

#exampleModalLabel {
    margin-left: 25%;
    line-height: 5px;
}

h4 {
  color: var(--DarkBlue);
}

.hide {
  display: none;
}

footer {
  color: var(--Steel);
  /* padding-top: 15px; */
}

footer a {
  color: var(--Steel);
}

/* Media Queries */
@media screen and (max-width: 768px) {
  h4 {
    color: var(--Steel);
    text-shadow: 0 0 5px gray;
  }
  .card {
    margin-left: auto;
    margin-right: auto;
  }
}
